<style>
     .root{
        display: flex;
        justify-content: center;
        align-items:baseline;
        background: #F3F2EE;
        height: 100vh;
   }
    .subdiv{

        width:950px;
        background: #FFF;
        padding: 20px;
        border-radius: 20px;


    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <meta charset="UTF-8">
    <title>LIST OF SHOW</title>
</head>
<body>
  <div class="root">
        <div class="subdiv">
            <div class="row gap">
                <div class="col" style="display: flex; justify-content: center;width: 450px; align-items; center;font-size:20px; font-weight:bold; letter-spacing: 3px; margin-bottom: 15px">
                        LIST SHOWS
                </div>
                 <div class="buttons" style=" width:700px; justify-content: center">
                    <a href="/showsinterface">
                  <div class="button is-primary is-light">Add new Shows</div>
                     </a>
                </div>
            </div>
             <table class="table">
  <thead>
    <tr>

        <th><abbr>Shows Id/<br>category Name</abbr></th>
        <th><abbr>Show Name</abbr></th>
        <th><abbr>Show Type/<br>Description</abbr></th>
        <th><abbr>Year/<br>Rating</abbr></th>
        <th><abbr>Artists</abbr></th>
        <th><abbr>Status/<br>Show Status</abbr></th>

        <th><abbr>Episodes</abbr></th>
        <th><abbr>Poster</abbr></th>
        <th><abbr>Trailer</abbr></th>
        <th><abbr>Video</abbr></th>
        <th><abbr>Update</abbr></th>


    </tr>
  </thead>

  <tbody>
  {% for row in rows %}
    <tr>
        <th>{{ row.0 }}/<br>{{ row.14 }}</th>
        <td>{{ row.2 }}</td>
        <td>{{ row.4 }}/<br>{{ row.3 }}</td>
        <td>{{ row.5 }}/<br>{{ row.6 }}</td>

        <td>{{ row.7 }}</td>
        <td>{{ row.8 }}/<br>{{ row.10 }}</td>

        <td>{{ row.9 }}</td>
        <td><a href="/static/{{ row.11 }}"><img src="/static/{{ row.11 }}" width="25"></a></td>
        <td><a href="/static/{{ row.12 }}"><img src="/static/{{ row.12 }}" width="25"></a></td>
        <td><a href="/static/{{ row.13 }}"><img src="/static/{{ row.13 }}" width="25"></a></td>

        <td>
          <div>

         <span class="icon is-small is-right" style= "margin-right: 15px">
             <a href="/showsbyid?sid={{ row.0 }}"> <i class="fas fa-edit"></i></a>
         </span>
         <span class="icon is-small is-right">
             <a href="/showsbyid?sid={{ row.0 }}"> <i class="fas fa-trash-alt"></i></a>
         </span>

          </div>
        </td>
    </tr>
  {% endfor %}

  </tbody>
</table>
       </div>
 </div>
</body>
</html>
